
@media (max-width: 1600px) {
  .form-input {
      width:100%;
  }

  .about__left {
    margin: 0;
    max-width: 868px;
    width: 100%;
    /* min-height: 622px; */
  }

  .about__image {
    max-width: 868px;
    /* min-height: 622px; */
  }

  .about__box {
    max-width: 870px;
    /* min-height: 295px; */
  }

  .about__right {
    margin: 0;
    max-width: 870px;
  }

  .about__text {
    max-width: 450px;
  }

  .about__text {
    margin: 0;
   }

  .about__svg--content {
    width: 100%;
    height: 100%;
  }

}

@media (max-width: 1440px){

.work__article {
  padding: 0;
}

}

@media (max-width: 1200px) {
  .form-input {
      width:100%;
  }

  .main {
    padding: 0 50px;
  }

  .nav__list {
    display: none;
  }

  .header__box {
    margin-bottom: 40px;
    padding: 26px 50px;
  }

  .burger {
    position: relative;
    display: block;
    margin-right: 200px;
    border: 1px solid white;
    width: 30px;
  }

  .burger__line {
      position: absolute;
      left: 50%;
      width: 30px;
      height: 3px;
      background: #333333;
      transform: translateX(-50%);
  }

  .burger__line:nth-child(1){
      top: 8px;
  }

  .burger__line:nth-child(2){
      top: 50%;
      transform: translate(-50%, -50%);
  }

  .burger__line:nth-child(3){
      bottom: 9px;
  }

  .header__logo {
    margin: 0;
    margin: 0 auto;
    width: 150px;
    transform: none;
  }

  .header__link {
  }

  .header__search {
    margin: 0;
  }

  .header__container {
    position: relative;
    padding: 0 50px;
  }

  .header__slide_1 {
    margin-bottom: 40px;
    min-height: 668px;
  }

  .header__wrapper {
    position: absolute;
    top: 160px;
    left: 127px;
    max-width: 770px;
  }

  .title__slider {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .header__descr {
    margin-bottom: 60px;
    padding-right: 110px;
    font-size: 20px;
    line-height: 24px;
  }

   .title__about {
    margin-bottom: 20px;
   }

   .about__container {
    margin-bottom: 60px;
    max-width: 1200px;
  }

   .about__big {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 32px;
  }

   .about__bottom {
    flex-direction: column;
    gap: 0;
    margin-bottom: 83px;
   }

   .about__left {
    max-width: 1200px;
    width: 100%;
   }

   .about__image {
    margin-bottom: 32px;
    max-width: 1200px;
    width: 100%;
    min-height: 640px;
   }

   .about__wrapper {
    
   }

   .about__box {
    margin-bottom: 32px;
    padding: 65px 155px 65px 77px;
    max-width: 1200px;
    width: 100%;
   }

   .about__right {
    margin: 0;
    max-width: 1200px;
    width: 100%;
   }

   .box__text {
    max-width: 442px;
  }

   .work__steps {
    margin: 0;
    margin-bottom: 50px;
    }

    .work {
      margin-bottom: 80px;
      min-height: 882px;
    }

    .work__article {
      margin-right: 50px;
      padding: 0;
    }

    .work__subtitle {
      margin-bottom: 8px;
    }

    .work__box {
      margin-bottom: 25px;
      width: 437px;
      width: 100%;
      min-height: 576px;
    }

    .work__text {
     margin: 0;
    }

    .work__btn {
      margin-right: 32px;
      padding: 20px 38px;
      width: 175px;
      height: 60px;
    }

    .work__btn--contract {
      padding: 20px 38px;
      width: 147px;
      height: 60px;
      text-align: center;
    }

    .work__image-container {
      width: 437px;
      width: 100%;
      /* min-height: 689px; */
    }

    .work__image {
      width: 437px;
      width: 100%;
      /* min-height: 689px; */
    }

    .faq {
       margin-bottom: 80px;
    }

    .faq__subtitle  {
      font-size: 20px;
    }

    .footer__container {
      padding: 50px 50px;
      width: 1024px;
      width: 100%;
      /* height: 594px; */
      height: 100%;
    }

    .footer__left {
      margin-right: 132px;
    }

    .footer__middle {
      margin-right: 0;
    }

    .footer__right {
      display: none;
    }

    .form-input {
      width: 541px;
    }

    .form-textarea {
      width: 541px;
    }

    .footer__btn  {
      padding: 19px 38px;
      width: 241px;
      height: 58px;
    }
}

    @media (max-width: 768px) {
      .header__wrapper {
        top: 160px;
        left: 90px;
        max-width: 588px;
      }

      .title__slider{
        font-weight: 800;
        font-size: 50px;
        line-height: 60px;
      }

      .header__descr{
        padding-right: 0;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
      }

      .work {
        margin-bottom: 50px;
     }

      .work__container {
       flex-direction: column-reverse;
      }

      .work__steps {
        margin-bottom: 50px;
        justify-content: space-between;
      }

      .work__link {
        margin-right: 0;
      }

      .work__image-container{
        width: 668px;
        width: 100%;
        /* min-height: 284px; */
      }

      .work__image {
        margin-bottom: 38px;
        width: 668px;
        width: 100%;
        /* min-height: 284px; */
      }

      .work__article {
        margin: 0;
        max-width: 667px;
      }

      .work__box {
        max-width: 667px;
        min-height: 322px;
      }
      
      .footer__container {
        flex-direction: column-reverse;
        padding: 50px;
        /* height: 792px; */
        height: 100%;
      }

      .footer__middle {
        margin-bottom: 50px;
        margin-right: 0;
        max-width: 541px;
      }

      .footer__btn {
        align-items: center;
      }

      .footer__left {
       margin: 0;
      }

      .footer__list{
        display: none;
      }
      
      .footer__nav {
       margin-bottom: 0;
      }
      
      .footer__logo {
        margin-bottom: 20px;
      }
}
    @media(max-width: 320px) {
        
        .main {
         padding: 0 15px;
        }

        .header__box {
          align-items: center;
          margin-bottom: 30px;
          padding: 17px 15px;
          max-width: 320px;
          height: 70px;
        }

        .burger {
          margin-right: 0;  
        }

        .burger__line {
          transform: translateX(-30%);
        }

        .burger__line:nth-child(2){
          transform: translate(-30%, -30%);
        }

        .header__logo {
          margin-right: 0;
          min-width: 110px;
          height: 35px;
          transform: translateX(80px);
        }

        .header__link {
        }

        .header__search-div {
          transform: translateX(-55px);
        }

        .header__search {
          margin: 0;
        }

        .header__container {
          padding: 0 15px;
        }

        .header__slide_1 {
          margin-bottom: 60px;
          max-width: 290px;
          min-height: 308px;
          border-radius: 16px;
        }

        .header__wrapper {
          top: 60px;
          left: 38px;
          align-items: center;
          max-width: 247px;
        }

        .title__slider{
          text-align: center;
          font-weight: 800;
          font-size: 20px;
          line-height: 24px;
        }
  
        .header__descr{
          margin-bottom: 32px;
          padding-right: 0;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
        }

        .header__btn{
          padding: 13px 28px;
          width: 162px;
          height: 41px;
          border-radius: 8px;
        }

        .button {
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
        }

        .title__slider {
          margin-bottom: 6px;
        }

        .section__title {
          font-weight: 400;
          font-size: 24px;
          line-height: 30px;
        }
        
        .section__text {
          margin-bottom: 32px;
          font-weight: 400;
          font-size: 14px;
          line-height: 28px;
       }

       .about {
         height: 100%;
       }

       .about__container {
        margin: 0;
       }

       .about__big {
          margin: 0;
          margin-bottom: 14px;
          font-size: 16px;
       }

       .about__bottom {
        margin: 0;
        margin-bottom: 60px;
        gap: 0;
      }

       .about__left {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
      }

       .about__image {
        background-position: top;
        background-size: 290px 200px;
        margin-bottom: 8px;
        border-radius: 16px;
        max-width: 290px;
        min-height: 400px;
       }

       .about__wrapper {
        flex-direction: column;
        padding: 0;
        width: 100%;
        height: 100%;
        background: none;
       }

       .about__div {
        margin: 0;
        padding: 0;
      }

       .about__descr {
        margin-bottom: 12px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
       }

       .about__btn {
        display: block;
        margin-right: auto;
        padding: 12px 44px;
        max-width: 162px;
        height: 39px;
        border: 2px solid #FF9900;
        border-radius: 8px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #FF9900;
       }

      .about__box {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 32px;
        padding: 0;
        max-width: 100%;
        border: none;
       }
    
       .about__right {
        margin: 0;
        max-width: 1200px;
        width: 100%;
       }

       .about__svg-content {
        margin-right: 0;
        margin-bottom: 12px;
        width: 64px;
        height: 49px;
      }

      .about__svg-1 {
        display: block;
        margin-right: auto;
      }

       .about__subtitle {
        margin-bottom: 5px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
      }

      .about__text {
        margin: 0;
      }
    
       .box__text {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
      }

      .title__work {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        }

        .work__steps {
          margin-bottom: 16px;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          }

          .work__image {
            margin-bottom: 16px;
            max-width: 290px;
            width: 100%;
            height: 100%;
            min-height: 160px;
          }

          .work__div {
           display: flex;
          }

          .work__btn {
            margin-right: 10px;
            padding: 12px 44px;
            width: 162px;
            height: 39px;
            border-radius: 8px;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
          }
          
          .work__btn--contract {
            padding: 12px 32px;
            width: 118px;
            height: 39px;
            border-radius: 8px;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
          }

          .faq {
            margin-bottom: 60px;
         }

          .faq__title {
            padding-bottom: 16px;
            font-size: 24px;
            line-height: 30px;
            }

            .faq__subtitle {
              padding: 30px 0;
              font-weight: 500;
              font-size: 14px;
              line-height: 24px;
            }

            .faq__svg {
              width: 35px;
              height: 35px;
            }

        .footer__container {
          padding: 32px 15px;
        }
        
        .footer__subtitle {
          margin: 0;
          margin-bottom: 20px;
          font-weight: 400;
          font-size: 24px;
          line-height: 30px;
        }

        .footer__middle {
          margin: 0;
          padding-bottom: 16px;
          width: 290px;
          width: 100%;
        }


        .form-input {
          width: 290px;
          width: 100%;
        }

        .form-textarea {
          width: 290px;
          width: 100%;
        }

        .footer__btn {
          padding: 12px 28px;
          width: 180px;
          height: 39px;
          border-radius: 8px;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          }

          .footer__left {
            border-top: 1px solid #414141;
            padding-top: 16px;
          }

          .footer__logo {
            display: block;
            margin: auto;
            margin-bottom: 16px;
            width: 131px;
            height: 42px;
            }

            .social__list {
              justify-content: center;
              gap: 25px;
            }

            .social__link svg {
              width: 40px;
              height: 40px;
            }
      }
